.home {
  display: flex;
  flex-direction: column;
}
.home__logo-container {
  height: fit-content;
}
.home__logo-container--logo-left {
  align-self: start;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home__logo {
  height: 30vh;
}
.home__difficulty {
  display: flex;
  justify-content: center;
  gap: 3vw;
  padding: 2%;
}
.home__difficulty button {
  height: fit-content;
  width: fit-content;
  padding: 1%;
  border-radius: var(--button-border-radious);
  border: 5px solid var(--primary-bg-color);
  background: var(--secondary-bg-color);
  cursor: pointer;
}
.home__difficulty button:hover {
  border-color: var(--secondary-bg-color);
  background: var(--primary-bg-color);
}
.home__title h1 {
  font-size: 4.5rem;
}
.footer {
  flex: 1;
  width: 100%;
  display: flex;
  height: 100%;
  padding-bottom: 4%;
  align-items: end;
}
.footer__button {
  background: transparent;
  border: none;
  color: var(--primary-font-color);
}
/* Mobile */
@media only screen and (max-width: 480px) {
  button {
    font-size: 7vw;
  }
  .home__logo {
    width: 100%;
    height: fit-content;
  }
  .home__logo--left {
    width: fit-content;
    height: 12vh;
    cursor: pointer;
  }
  .footer {
    justify-content: center;
    flex: 0;
    height: fit-content;
  }
  .home__title h1 {
    font-size: 8rem;
  }
  .footer__button svg {
    font-size: 2vh;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
